<h1>User info</h1>　

<% @users.each do |user| %>

  <div>
    <% if user.image.attached? %>
        <%= image_tag user.image, size: "100x100" %>
    <% else %>
        <%= image_tag 'no_image.jpg', size: "100x100" %>
    <% end %>
  
    <p>name：<%= user.name %></p>
    
    <p>introduction：<%= user.introduction %></p>
    
  </div>
<% end %>



<h1>Users</h1>
